::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: padding-box;

  &:hover {
    background: #a8a8a8;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  &:active {
    background: #8f8f8f;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
}

// 当滚动条处于非悬停状态时，使其更细
::-webkit-scrollbar-thumb:vertical {
  min-height: 30px;
}

::-webkit-scrollbar-thumb:horizontal {
  min-width: 30px;
}

// 角落的样式
::-webkit-scrollbar-corner {
  background: transparent;
}


// 夜间模式或日间模式的导航栏侧边背景色
div[aria-label="light"]{
  .fui-InlineDrawer{
    background-color: #EFF4F9;
    button{
      background-color: #EFF4F9;
      &:hover{
        background-color: #eaf0f5;
      }
      &[aria-current="page"]{
        background-color: #E6EBF0;
      }
    }
  }
}

div[aria-label="dark"]{
  .fui-InlineDrawer{
    background-color: #1A2229;
    button{
      background-color: #1A2229;
      &:hover{
        background-color: #232B30;
      }
      &[aria-current="page"]{
        background-color: #272F34;
      }
    }
  }
}
