::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: padding-box;

  &:hover {
    background: #a8a8a8;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  &:active {
    background: #8f8f8f;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
}

// 当滚动条处于非悬停状态时，使其更细
::-webkit-scrollbar-thumb:vertical {
  min-height: 30px;
}

::-webkit-scrollbar-thumb:horizontal {
  min-width: 30px;
}

// 角落的样式
::-webkit-scrollbar-corner {
  background: transparent;
}

.MuiBottomNavigation-root{
  background-color: #f0f4f8b1 !important;
}

.MuiDrawer-root {
  z-index: 1000;
}


// 夜间模式或日间模式的导航栏侧边背景色
html[aria-label="light"]{
  .fui-InlineDrawer{
    background-color: #F0F4F8;
    button{
      background-color: #F0F4F8;
      &:hover{
        background-color: #eaf0f5;
      }
      &[aria-current="page"]{
        background-color: #E6EBF0;
      }
    }
  }

  // Material UI Drawer 背景色
  .MuiDrawer-root, .MuiPaper-root {
    background-color: #F0F4F8 !important;
    border-right: 1px solid #E6EBF0;
  }
}

html[aria-label="dark"]{
  .fui-InlineDrawer{
    background-color: #1C2228;
    button{
      background-color: #1C2228;
      &:hover{
        background-color: #232B30;
      }
      &[aria-current="page"]{
        background-color: #272F34;
      }
    }
  }

  // Material UI Drawer 背景色
  .MuiDrawer-root, .MuiPaper-root {
    background-color: #1C2228 !important;
    border-right: 1px solid #272F34;
  }

  .MuiBottomNavigation-root{
    background-color: #1c22288e !important;
  }
}
